DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/na_regua
JWT_SECRET_KEY=your_secret_key # Key do JWT, util para gerar e validar tokens de autenticação
JWT_ALGORITHM=HS256 # algoritmo de assinatura do JWT, geralmente HS256.
JWT_EXPIRATION_MINUTES=30 # tempo de expiração do token em minutos