# local env files
.env*.local
.env

__init__.py
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.Python
.venv/
venv/
env/
.pytest_cache/
*.pyc
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*
instance/
*.db
*.sqlite3
.gitkeep

logs/
*.log